html, body {
  position: relative;
  height: 450vh;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  padding-top: 40px;
  width: 100%;
  margin: 0;
} 

.header img {
  width: 110px;
  height: auto;
}

.header a{
  margin-right: 40%;
  margin-left: auto;
  align-content: center; 
}

#myBtn {
  background-color: transparent;
  border: none;
  cursor: pointer; 
  margin-right: 3%;
}

/* CURSOR */
.cursor {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.outer {
  border: 1px solid #CE2E3F70;
}

.inner{
  background: #CE2E3F20;
  transition: 700ms ease-out;
}


/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #171717 ;
  transition: opacity 0.5s;
}


.modal-content {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.modal-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
}

.modal-content li {
  margin-bottom: 30%;
}

.modal-content a {
  font-size: 40px;
  color: aliceblue;
  text-decoration: none;
  /* border-bottom: 5px solid #CE2E3F; */
  position: relative;
  font-family: "owners-xxwide", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.modal-content a:hover {
  color: #CE2E3F;
}

.nav a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #ce2e3f;
  transition: width 0.3s ease;
}

.nav a:hover:after {
  width: 100%;
}

/* Add the following animation to slide out the modal when closing */
@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideIn {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}  


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  /* font-weight: bold; */
  margin-top: 30px;
}

.close:hover,.close:focus {
  color: #CE2E3F;
  text-decoration: none;
  cursor: pointer;
}

/* FOOTER */
.footer {
  position: relative;
  padding: 20px; 
  text-align: center;
  line-height: 1.0;
  bottom: 10px;
  margin-top: auto;
  justify-content: center; 
  width: 100%; 
}


.time-zone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  align-content: center;
}

.time-zone-item {
  margin-bottom: 5px;
}

.footer a img {
  width: 25px;
  height: auto;
}

.footer a {
  margin: 0 5px; /* add 10px margin between icons */
  display: inline-flex; /* make them inline-flex to center vertically */
  align-items: center; /* center vertically */
  justify-content: baseline; /* center horizontally */
}

.credit{
  margin-top: 20px;
  font-size: small;
  color:#888;
}

.scrolling-gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* adjust the number of columns to match the number of images */
  grid-column-gap: 40px; 
  overflow-x: auto;
  white-space: nowrap;
  background-color: #CE2E3F25;
}

.scrolling-gallery img {
  width: 526px; 
  height: auto; 
}

.scroll-txt{
  text-align: center;
  font-family: "owners-xxwide", sans-serif;
  font-size: 40px;
}
.scroll-txt h1{
  margin-bottom: 0;
  margin-top: 25px;
}

.about h1{
  font-family: "owners-xxwide", sans-serif;
  font-size: 70px;
  text-align: left;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 0;
  letter-spacing: 10px;
}

.about hr{
  border: none;
  width: 1400px;
  height: 1px;
  background-color: #000;
  margin-bottom: 20px;
}

.about img {
  border-radius: 50%;
  height: 300px;
  margin: 100px auto 0 200px;
}

.profile-container {
  display: flex;
  align-items: center;
  font-family: "Owners Xwide", sans-serif;
  margin-bottom: 10%;
}

.about-content {
  flex: 1;
  margin-left: 5%;
}

.about-content h1{
  font-size: 60px;
}
.detail {
  font-size: 30px;
  margin-bottom: 0;
  font-family: "Owners Xwide", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 0; 
  letter-spacing: 10%;
}

.detail-major {
  font-size: 30px;
  font-weight: 200;
} 

.about-plus {
  font-family: "Owners Xwide", sans-serif;
  font-style: light;
  font-size: 20px;
  text-align: left;
  width: 80%;
  margin-left: 20%;
  justify-content: center;
}

.about-plus h1{
  font-family: "Owners Xwide", sans-serif;
  font-style: bold;
}


.spin-animation {
  animation: spin 2s ease-in-out;
  animation-iteration-count: 2;
  transform-style: preserve-3d; 
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.about-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: -170px;

}

.about-left {
  margin-left: 100px;
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-right-top {
  align-self: flex-start; 
}

.about-right-bottom {
  align-self: flex-end;
}


.about-left img{
  margin-top: 150px;
  width: 227px;
  margin-left: -40px;
}

.about-right-top img {
  width: 227px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.about-right-bottom img {
  width: 114px;
  margin-right: 90px;
  margin-bottom: 100px;
}

.contact{
  font-family: "Owners XXwide", sans-serif;
}

.contact h2{
  font-size: 80px;
  font-style: bold;
  text-align: left;
  margin-top: 20%;
  margin-left: 18%;
  justify-content: center;
}

.contact form{
  width: 1000px;
  text-align: left;
  margin: 0 auto; 
}

form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-box .input-field{
  width: 48.5%;
}

.input-field {
  width: 45%;  
  margin: 10px;
}

.textarea-field {
  width: 90%; 
  margin: 10px;
}

.field .item {
  font-family: "Owners XXwide", sans-serif;
  width: 100%;
  padding: 12px;
  background: transparent; 
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  color: #000;
  margin-top: 6px; 
  margin-bottom: 16px; 
}

.field .item::placeholder{
  color: #333;
  font-style: italic;
  font-family: "Owners XXwide", sans-serif;
}

/* 타이핑시 컬러 변경 */
.field .item:focus {
  color: #CE2E3F; 
}

.field .error-txt{
  font-size: 14.5px;
  color: #d93025;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}

.field.error .error-txt{
  display: block;
}

form .textarea-field .item{
  resize: none;
}

form .textarea-field .error-txt{
  margin-top: -10px;
}


form button{
  padding: 12px 20px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  border-radius: 6px;
  font-family: "Owners XXwide", sans-serif;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 70%;

  border: #171717;
  border-radius: 4px;
} 

form button:hover{
  box-shadow: none;
  background: #CE2E3F;
  color: white;
}

/* form button{
  margin-left: 82%;
  margin-top: 20px;
  border: none;
  background: transparent;
} */

#autoresizing {
  overflow: hidden;
  padding: 10px;
  font-size: 16px;
} 


@media only screen and (max-width: 390px){
  .cursor {
    display: none;
  }

  .header a{
    margin-right: 20%;
    margin-left: 30%;
    align-self: center; 
    flex: 1;
  }

  .header img {
    width: 90px;
    height: 60px;
    align-items: center;  
    justify-content: center;
    margin: 0 auto;
    display: flex;
  }
 
  #myBtn {
    transform: scale(0.8); 
    padding-right: 7%;
  }

  .footer {
    padding: 0 ;
  }

  .scroll-txt{
    font-size: 13px;
  }


  .about h1{
    font-size: 25px;
    letter-spacing: 5px;
  }

  .about hr{
    width: 340px;
  }

  .profile-container {
    margin: 0;
  }

  .about img {
    border-radius: 50%;
    height: 110px;
    margin: 5px auto 0 30px;  
    /* top right bottom left */
  }

  .about-content {
    margin-left: 2;
  }

  .about-content h1{
    font-size: 20px;
    padding-bottom: 3%;
    font-weight: bolder;
  }
  .detail {
    font-size: 10px;
    /* letter-spacing: 3%; */
    line-height: 140%;
  }
  
  .detail-major {
    font-size: 10px;
  } 

  .about-plus{
    padding: 10%;
    margin-left: 0%;
  }
  .about-plus{
    font-size: 10px;
  }

  .about-img {
    display: none;
  }
  
  .contact h2{
    font-size: 30px;
    font-style: bold;
    text-align: left;
    margin-top: 20%;
    margin-left: 13%;
    justify-content: center;
  }

  form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .input-box .input-field{
    width: 48.5%;
  }
  
  .input-field {
    width: 45%;  
    margin: 10px;
  }
  
  .textarea-field {
    width: 90%; 
    margin: 10px;
  }
  
  .field .item {
    font-family: "Owners XXwide", sans-serif;
    width: 100%;
    padding: 12px;
    background: transparent; 
    border: none;
    border-bottom: 1px solid #000;
    font-size: 16px;
    color: #000;
    margin-top: 6px; 
    margin-bottom: 16px; 
  }
  
  .field .item::placeholder{
    color: #333;
    font-style: italic;
    font-family: "Owners XXwide", sans-serif;
  }
  
  /* 타이핑시 컬러 변경 */
  .field .item:focus {
    color: #CE2E3F; 
  }
  
  .field .error-txt{
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
  }
  
  .field.error .error-txt{
    display: block;
  }
  
  form .textarea-field .item{
    resize: none;
  }
  
  form .textarea-field .error-txt{
    margin-top: -10px;
  }
  
  
  form button{
    padding: 12px 20px;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    border-radius: 6px;
    font-family: "Owners XXwide", sans-serif;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 70%;
  
    border: #171717;
    border-radius: 4px;
  } 
  
  form button:hover{
    box-shadow: none;
    background: #CE2E3F;
    color: white;
  }
}
