html, body {
  position: relative;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  padding-top: 40px;
  width: 100%;
} 

.header img {
  width: 110px;
  height: auto;
}

.header a{
  margin-right: 40%;
  margin-left: auto;
  align-content: center; 
}

#myBtn {
  background-color: transparent;
  border: none;
  cursor: pointer; 
  margin-right: 3%;
}

/* CURSOR */
.cursor {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.outer {
  border: 1px solid #CE2E3F70;
}

.inner{
  background: #CE2E3F20;
  /* transition: 500ms ease-out; */
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: #171717 ;
  transition: opacity 0.5s;
}


.modal-content {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.modal-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
}

.modal-content li {
  margin-bottom: 30%;
}

.modal-content a {
  font-size: 40px;
  color: aliceblue;
  text-decoration: none;
  /* border-bottom: 5px solid #CE2E3F; */
  position: relative;
  font-family: "owners-xxwide", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.modal-content a:hover {
  color: #CE2E3F;
}

.nav a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #ce2e3f;
  transition: width 0.3s ease;
}

.nav a:hover:after {
  width: 100%;
}

/* Add the following animation to slide out the modal when closing */
@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideIn {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}  


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  /* font-weight: bold; */
  margin-top: 30px;
}

.close:hover,.close:focus {
  color: #CE2E3F;
  text-decoration: none;
  cursor: pointer;
}

/* FOOTER */
.footer {
  position: relative;
  padding: 20px; 
  text-align: center;
  line-height: 1.0;
  bottom: 10px;
  margin-top: auto;
  justify-content: center; 
  width: 100%; 
}


.time-zone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  align-content: center;
}

.time-zone-item {
  margin-bottom: 5px;
}

.footer a img {
  width: 25px;
  height: auto;
}

.footer a {
  margin: 0 5px; 
  display: inline-flex; 
  align-items: center; 
  justify-content: baseline; 
}

.credit{
  margin-top: 20px;
  font-size: small;
  color:#888;
}

.works{
  justify-content: center;
  align-items: center;
}

.works h1{
  font-family: "owners-xxwide", sans-serif;
  font-size: 90px;
  text-align: center;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 0;
  letter-spacing: 10px;
}

.works hr{
  border: none;
  width: 1400px;
  height: 1px;
  background-color: #000;
  margin-bottom: 20px;
  margin-top: 10px;
}

.rec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 90px;
  margin-top: 40px;
}

.left-rec,.right-rec {
  margin: 20px;
  margin-bottom: 10px;
  flex-basis: 45%; 
}

.works-content {
  text-align: left;
  /* margin-top: 10px; */
  margin-left: 35px;
  font-family: "owners-xxwide", sans-serif;
  font-weight: bolder;
  font-style: normal;
}

.works-content h1 {
  font-weight: bold;
  letter-spacing: 5px;
}

.works-content p{
  color: #707077;
  letter-spacing: 3px;
}

.works-content p {
  margin-top: -13px;
}

.rec a{
  text-decoration: none;
  color: inherit;
}